.TEST-WIDGET {
  content: 'No media query.'; }

/** RESPOND MIN */
.TEST-WIDGET {
  content: 'inside media query 3.'; }

.TEST-WIDGET {
  content: 'inside media query 4.'; }

/** RESPOND MAX */
.TEST-WIDGET {
  content: 'inside media query 3.'; }

.TEST-WIDGET {
  content: 'inside media query 4.'; }
