@warn "---------- ONLY INCLUDE ~/test/**/* IN DEVELOPMENT ----------";
@debug "---------- Configured min Media Query value = " + $fix-mqs;


.TEST-WIDGET {
	content: 'No media query.';
}


/** RESPOND MIN */
.TEST-WIDGET {
	@include respond-min($mq-group2) {
		content: "Inside media query 2. Don't include in app-basic.";
	}
}

.TEST-WIDGET {
	@include respond-min($mq-group3) {
		content: 'inside media query 3.';
	}
}

.TEST-WIDGET {
	@include respond-min($mq-group4) {
		content: 'inside media query 4.';
	}
}


/** RESPOND MAX */
.TEST-WIDGET {
	@include respond-max($mq-group2) {
		content: "inside media query 2. Don't include in app-basic.";
	}
}

.TEST-WIDGET {
	@include respond-max($mq-group3) {
		content: 'inside media query 3.';
	}
}

.TEST-WIDGET {
	@include respond-max($mq-group4) {
		content: 'inside media query 4.';
	}
}
